<h1> Transactions for <%= user.username %>
</h1>

<div class="row">
  <div class="col">

    <p> Here is your list of things to do! </p>
    <table>
      <tr>
        <th>
          <div class="item_item-1"><a class="btn btn-primary" href="">group by category</a></div>
        </th>
        <th>
          <div class="item_item-1"><a class="btn btn-primary" href="">sort by catagory</a></div>
        </th>
        <th>
          <div class="item_item-1"><a class="btn btn-primary" href="">sort by amount</a></div>
        </th>
        <th>
          <div class="item_item-1"><a class="btn btn-primary" href="">sort by description</a></div>
        </th>
        <th>
          <div class="item_item-1"><a class="btn btn-primary" href="">sort by date</a></div>
        </th>
      </tr>
    </table>

    <!-- <% if (show=='completed' ){%>
      <a class="btn btn-lg btn-primary" href="?show=todo">(Show tasks to do)</a>
      <% }else {%>
        <a class="btn btn-lg btn-primary" href="?show=completed">(Show completed tasks)</a>
        <%}%>
          </p>
          <ul class="list-group"> -->




    <table>
      <tr>
        <th>description</th>
        <th>amount</th>
        <th>category</th>
        <th>date</th>
        <th>delete</th>
        <th>edit</th>
      </tr>





    </table>


    <% items.forEach(item=> { %>


      <!-- 

      <li class="list-group-item">

        <a href="/transaction/remove/<%=item._id %>">
          <i class="bi bi-trash"></i>
        </a>
        </span>
        <span class="mx-5">
          <%= item.item %>
        </span>
       
        <a href="/transaction/edit/<%=item._id %>">
          <i class="bi bi-pencil-square"></i>
        </a>

      </li>
      <br> -->
      <% }) %>
        <h1>Add A New Transaction</h1>
        <form method="post" action="/transaction">
          description: <input type="text" name="description" placeholder="description">
          <br>
          catagory: <input type="text" name="category" placeholder="category">
          <br>
          amount: <input type="number" name="amount" placeholder="amount">
          <br>
          date: <input type="date" name="date" placeholder="date">
          <br>
          <input type="submit" value="store">
        </form>
  </div>
  <!-- <div class="col">
    <h2> Summary of Site Usage</h2>
    <p>
      <a class="btn btn-lg btn-primary" href="/todo/byUser">Show todo counts for all users</a>
    </p>
  </div> -->
</div>
</div>